## 多重线性回归（multiple linear regression）
### 多重线性回归的概念
多重线性回归是基于观测数据，给2个以上特征与结果构建线性模型的等式。构建多重线性回归模型的步骤与单线性回归模型类似。其中不同在于评价。你将使用评价去找出哪一个因素对预测结果有更大的影响以及不同变量之间的相关性。
$$y=b_0+b_1x_1+b_2x_2+...+b_nx_n$$
### 假设（对于一个成功的回归分析，确认以下四点假设十分重要）
- 线性（linearity）：自变量和因变量之间的关系应该是线性的。
- 同方差性（homoscedasticity）：误差保持不变。**这个不是很理解，感觉是要让误差恒定？**
- 多元正态（multivariate normality）：多重回归呈现正态分布。
- 缺乏多重共线性：假定在数据中有很少或没有多重共线性。多重共线性在特征/变量之间不是独立的时候出现。**所以说，只有变量之间相互独立，才不会出现多重共线性，这是理想的？**
### 注意
过多的变量有可能会导致模型变得不准确。尤其是当某些变量对结果没有任何影响或对其他变量有显著影响的时候。有很多方法去选择合适的变量。
- **前向选择（forward selection）**
- **后向消除（backward elimination）**
- **双向比较（bi-directional comparision）**
### 虚拟变量（dummy variables）
在第一天的练习中已经使用imputer方法去对Yes和No进行虚拟变量转换。在多重回归模型中使用分类数据是一个很有效的方法，其中包括将非数字类型的数据引入回归模型中。分类数据是指数据值代表类别（数据值是一个固定的无序的数值）。例如，性别。在回归模型中这些数据能够被虚拟变量表达（将男女两个性别转为0、1）。**感觉这里的分类变量就是量化研究中的名义变量，要使用特定数值进行表达**
### 虚拟变量陷阱
虚拟变量陷阱是一个方案，在2个以上变量有高相关性时；简单来说，一个变量能够被另一个变量预测。**没看懂，我又查了一下知乎依旧没看懂，应该是由于虚拟变量引入时个数的原因，与前面多重共线性相关，https://zhuanlan.zhihu.com/p/26640957**
解决虚拟变量陷阱的方法是丢掉一个分类变量，如果模型中有m个分类变量，在模型里只使用m-1个，漏掉的那个变量可以认为是引用值。
## 第一步：数据预处理
- 引入库
- 引入数据集
- 检查丢失数据
- 分类变量编码
- 处理虚拟变量，避免虚拟变量陷阱
- 特征缩放，使用单线性回归模型
## 第二步：用训练集拟合模型
这一步与单线性回归类似
使用***LinearRegression***中的***regressor***，使用***fit()***方法。
## 第三步：预测测试结果
在这里预测观测数据。输出值为Y_pred。

In [14]:
import numpy as np
import pandas as pd
data=pd.read_excel(r'.\50_Startups.xlsx')
#通过iloc获取数据的所有值
X=data.iloc[:,:-1].values
Y=data.iloc[:,4].values
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder=LabelEncoder()
print(X[:,3])
#使用LabelEncoder对标签数值进行标准化
X[:,3]=labelencoder.fit_transform(X[:,3])
print(X[:,3])
#对标签进行独热码处理
onehotencoder=OneHotEncoder(categorical_features=[3])
X=onehotencoder.fit_transform(X).toarray()
print(X)
#防止虚拟变量陷阱，从第二个开始取
X=X[:,1:]

[165349.2  162597.7  153441.51 144372.41 142107.34 131876.9  134615.46
 130298.13 120542.52 123334.88 101913.08 100671.96  93863.75  91992.39
 119943.24 114523.61  78013.11  94657.16  91749.16  86419.7   76253.86
  78389.47  73994.56  67532.53  77044.01  64664.71  75328.87  72107.6
  66051.52  65605.48  61994.48  61136.38  63408.86  55493.95  46426.07
  46014.02  28663.76  44069.95  20229.59  38558.51  28754.33  27892.92
  23640.93  15505.73  22177.74   1000.23   1315.46      0.      542.05
      0.  ]
[48. 47. 46. 45. 44. 42. 43. 41. 39. 40. 36. 35. 33. 32. 38. 37. 28. 34.
 31. 30. 26. 29. 24. 22. 27. 19. 25. 23. 21. 20. 17. 16. 18. 15. 14. 13.
  9. 12.  5. 11. 10.  8.  7.  4.  6.  2.  3.  0.  1.  0.]
[[0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.3689780e+05 4.7178410e+05]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.5137759e+05 4.4389853e+05]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0114555e+05 4.0793454e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.3542692e+05 0.0000000e+00]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  5.1743150e+04 0.0000000e+00]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.1698380e+05 4.5173060e+04]]

In [17]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [18]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
y_pred=regressor.predict(X_test)

In [24]:
# import matplotlib.pyplot as plt
# # plt.scatter(X_test , y_pred, color = 'red')
# plt.plot(X_train , Y_train, color ='blue')
# plt.plot(X_test , y_pred, color ='red')